body {
    margin: 0;
    background-color: lightgrey;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}
.main-container-style {
    flex: 1 0 auto;
}
.header-style {
    background-color:black;
    display: flex;
    justify-content: center;
}
.header-title-style {
    padding: 16px;
    font-size: 64px;
    color: white;
    font-family: monospace;
}
.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    color: white;
  }