body {
    margin: 0;
}
.header-style {
    background-color:blue;
    display: flex;
    justify-content: center;
}
.header-title-style {
    padding: 16px;
    font-size: 64px;
    color: white;
    font-family: monospace;
}